html,
body {
  height: 100%;
  background-color: #97ede1;
  text-align: center;
  margin: 0;
  color: #fff;
  font-weight: 700;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#app {
  padding: 8px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

section {
  overflow: scroll;
  max-height: 80vh;
  padding: 0 40px 0;
  margin: 20px;
}

ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

li {
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  padding: 24px;
  font-weight: 700;
  background: #ea4c89;
  color: #fff;
  border-radius: 50px;
  margin: 10px;
  border: none;
  transition: filter 0.2s;
  font-size: 16px;

}

button {
  margin-left: 10px;
  cursor: pointer;
}